.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fafbfc; 
}

.registerForm {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 4rem;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  align-content: center;
  justify-content: center;
}

.label {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

.input {
  width: 20rem;
  padding: 1rem;
  margin: 12px 0;
  border: 1px solid #e0e0e0; 
  border-radius: 6px;
  font-size: 1rem;
  color: #333;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #4CAF50; 
  outline: none;
}

.button {
  align-self: flex-start;
  width: 22rem;
  padding: 1rem;
  background-color: #4CAF50; 
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #1c611f; 
}

.qrContainer {
  margin-top: 30px;
  text-align: center;
}

.qrImage {
  width: 150px;
  height: 150px;
  border-radius: 8px; /* Bordes redondeados para suavizar la imagen */
}
